* {
	font-family: 'Oswald', sans-serif;
}

nav, footer {
	background-color: #163172;
}

#home img {
	height: 300px; 
	width: 300px;
}

html {
	scroll-behavior: smooth;
}

#card-img-top{
	height: 10px;
	width: 5rem;
}

#gmap_canvas {
	height: 50vh;
	width: 100%;
}

#tools {
	background-color: #FFD662FF;
}

.fa-icons {
	font-size: 2rem;
}